@use "../tools/" as t;

.b-form {
  margin: 20px;
  padding: 24px;
  border-radius: 16px;
  background-color: pink;
  display: grid;
  grid-template-rows: [header] auto 32px [elements] auto 40px [footer] auto;
  color: var(--text-color, #000);

  &--theme-green {
    --inactive-color: #86a2a5;
    --accent-color: #0c7d69;
    --error-color: #d73c3c;
    --border-radius: 8px;
    --text-color: #2a4144;
  }

  &__header {
    grid-row: header;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.03em;
  }

  &__elements {
    grid-row: elements;
    display: grid;
    gap: 24px 16px;
  }

  &__footer {
    grid-row: footer;
    display: grid;
    gap: 40px;
  }
}
