@use "../tools/" as t;

.b-input-radio {
  appearance: none;
  block-size: 20px;
  inline-size: 20px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid var(--inactive-color, #000);

  &:checked {
    border: 2px solid var(--accent-color, #000);
    background: radial-gradient(circle, var(--accent-color, #000) 0% 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus-visible {
    outline: 4px solid var(--accent-color, #000);
  }
}
